/*font-size*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Merienda+One&display=swap');

$kf-turquoise: #269e93;
$kf-darkgreen: #2f846b;

html {
  font-family: 'Merienda One', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merienda One', cursive;
}

a {
  color: $kf-turquoise;

  &:hover {
    color: $kf-darkgreen;
  }

  &:focus {
    color: $kf-darkgreen;
  }
}
